@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Lobster&family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Inter:wght@100&family=Lobster&family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Inter:wght@100&family=Lobster&family=Sedgwick+Ave&family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Inter:wght@100&family=Lobster&family=Open+Sans:wght@300&family=Sedgwick+Ave&family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* header{
    
    background-color: rgb(0, 3, 6);
  }
 .name{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     
 }

 .name a{
     display: flex;
     justify-content: flex-start;
     align-items: center;
    text-decoration:none ;
     color:aliceblue;
     font-family: 'Sedgwick Ave';
     font-size: x-large;
     margin-left: 39px;
     padding-block: 10px;
     font-weight:1500   ;
 }
 .name a:hover{
     font-weight: bold;
 }
  nav ul{
    height:58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 947px;
    
  }
  
  nav ul li{
     
      list-style: none;
      padding: 0 20px;
  }

  nav ul li a{
      color:aliceblue;
      text-decoration: none;
      font-family: 'Inter';
  }
  nav ul li a:hover{
    font-weight: bold;
}

  nav{
      display: flex;
      position: sticky;
  } */
    .name{
        position:absolute;
        text-align: center;
        margin-left: 5vw;
        margin-top: 2vh;
        
      }

    .name a{
        position:fixed;
        text-decoration: none;
        color: aliceblue;   
        font-family: 'Sedgwick Ave';
        font-size: 4vh;
    }

    .name a:hover{
        font-weight: bolder;
    }
  .container img{
      display:flex;
      height: 100vh;
      width:100vw;
      margin: none;
  }

  .class{
      display:flex;
      justify-content: center;
      align-items: center;
      
  }

    .container{
        position: relative;
        /* width: 100vw; */
        /* height: 100vh; */
    }



    .op1{
        position:absolute;
        text-align: center;
        margin-left: 67vw;
        margin-top: 2vh;
        
      }

    .op1 a{
        position:fixed;
        text-decoration: none;
        color: aliceblue;   
        font-family: 'Inter';
        font-size: 2.7vh;
    }

    .op1 a:hover{
        font-weight: bolder;
    }

    .op2{
        position:absolute;
        text-align: center;
        margin-left: 74vw;
        margin-top: 2vh;
        
      }

    .op2 a{
        position:fixed;
        text-decoration: none;
        color: aliceblue;   
        font-family: 'Inter';
        font-size: 2.7vh;
    }

    .op2 a:hover{
        font-weight: bolder;
    }

    .op3{
        position:absolute;
        text-align: center;
        margin-left: 82vw;
        margin-top: 2vh;
        
      }

    .op3 a{
        position:fixed;
        text-decoration: underline;
        color: aliceblue;   
        font-family: 'Inter';
        font-size: 2.7vh;
        font-weight: bolder;
    }

    /* .op3 a:hover{
        font-weight: bolder;
    } */

    .op4{
        position:absolute;
        text-align: center;
        margin-left: 89vw;
        margin-top: 2vh;
        
      }

    .op4 a{
        position:fixed;
        text-decoration: none;
        color: aliceblue;   
        font-family: 'Inter';
        font-size: 2.7vh;
    }

    .op4 a:hover{
        font-weight: bolder;
    }

    .box2{
        position:absolute;
        width: 20vw;
        height: 3vh;
        /* border: 2px #1db31d; */
        color: aliceblue;
        margin-top: 35vh;
        margin-left: 15vw;
        background-color: #1db31d;
        border-radius: 2vh;
    }

    .box1{
        position:absolute;
        width: 50vw;
        height: 3vh;
        /* border: 2px #1db31d; */
        color: aliceblue;
        margin-top: 35vh;
        margin-left: 15vw;
        background-color: aliceblue;
        border-radius: 2vh;
    }

    .box4{
        position:absolute;
        width: 30vw;
        height: 3vh;
        /* border: 2px #1db31d; */
        color: aliceblue;
        margin-top: 50vh;
        margin-left: 15vw;
        background-color: #1db31d;
        border-radius: 2vh;
    }

    .box3{
        position:absolute;
        width: 50vw;
        height: 3vh;
        /* border: 2px #1db31d; */
        color: aliceblue;
        margin-top: 50vh;
        margin-left: 15vw;
        background-color: aliceblue;
        border-radius: 2vh;
    }

    .box6{
        position:absolute;
        width: 25vw;
        height: 3vh;
        /* border: 2px #1db31d; */
        color: aliceblue;
        margin-top: 65vh;
        margin-left: 15vw;
        background-color: #1db31d;
        border-radius: 2vh;
    }

    .box5{
        position:absolute;
        width: 50vw;
        height: 3vh;
        /* border: 2px #1db31d; */
        color: aliceblue;
        margin-top: 65vh;
        margin-left: 15vw;
        background-color: aliceblue;
        border-radius: 2vh;
    }

    .box8{
        position:absolute;
        width: 40vw;
        height: 3vh;
        /* border: 2px #1db31d; */
        color: aliceblue;
        margin-top: 80vh;
        margin-left: 15vw;
        background-color: #1db31d;
        border-radius: 2vh;
    }

    .box7{
        position:absolute;
        width: 50vw;
        height: 3vh;
        /* border: 2px #1db31d; */
        color: aliceblue;
        margin-top: 80vh;
        margin-left: 15vw;
        background-color: aliceblue;
        border-radius: 2vh;
    }

    .s1{
        position:absolute;
        color: aliceblue;
        margin-top: 33vh;
        margin-left: 70.5vw;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 4vh;
        /* font-weight:bolder; */
    }

    .s2{
        position:absolute;
        color: aliceblue;
        margin-top: 48vh;
        margin-left: 71vw;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 4vh;
    }

    .s3{
        position:absolute;
        color: aliceblue;
        margin-top: 63vh;
        margin-left: 71vw;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 4vh;
    }

    .s4{
        position:absolute;
        color: aliceblue;
        margin-top: 78vh;
        margin-left: 71vw;
        font-family: 'Merriweather Sans', sans-serif;
         font-size: 4vh;
    }

    .p1 img{
        position: absolute;
        width: 8vh;
        height: 8vh;
    }

    .p1{
        position: absolute;
        margin-top: 32.2vh;
        margin-left: 66vw;

    }

    .p2 img{
        position: absolute;
        width: 8vh;
        height: 8vh;
    }

    .p2{
        position: absolute;
        margin-top: 47vh;
        margin-left: 66.3vw;

    }

    .p3 img{
        position: absolute;
        width: 8vh;
        height: 8vh;
    }

    .p3{
        position: absolute;
        margin-top: 62vh;
        margin-left: 66.3vw;

    }

    .p4 img{
        position: absolute;
        width: 8vh;
        height: 8vh;
    }

    .p4{
        position: absolute;
        margin-top: 77vh;
        margin-left: 66.3vw;

    }

    .heading{
        position:absolute;
        color: aliceblue;
        margin-top: 16vh;
        margin-left: 41vw;
        font-family: 'Acme', sans-serif;
        font-size: 4vh;
    }

    

    



  

  